body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

#selector {
	position: absolute;
	font-size: 12px;
	background: rgba(0,0,0,0.7);
	width: 200px;
	height: 100%;
	overflow-x:hidden;
	overflow-y:auto;
}
#selector a.gltf {
	display: block;
	float:left;
	clear:both;
	width:100%;
	padding: 2px 2px 2px 10px;
	white-space: nowrap;
	overflow-x:hidden;
}
#selector a:hover.gltf {
	text-decoration: none;
	background: #ff0;
	color: #000;
}
#selector a.gltf.active,
#selector a:hover.gltf.active {
	color: #0ff;
	background: #000;
	text-decoration:line-through;
}

#selector .spacer {
	display: block;
	float:left;
	clear:both;
	width:100%;
	height: 50px;
	padding: 0 0 0 10px;
}
	
#selector_footer {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px 0 0 0;
	padding: 4px 10px 5px 10px;
	line-height: 16px;
	background: rgba(0,0,0,0.9);
}
#object_download {
	background: #0ff;
	color: #000;
	padding: 2px 5px;
	text-transform: uppercase;
}
#object_download:hover {
	background: #000;
	color: #0ff;
}
#object_download.invisible {
	display: none;
}
